* {
  box-sizing: border-box;
}
body {
  background-color: #F28379;
  color: #A53838;
  font-family: sans-serif;
  font-size: 20px;
}
h1 {
  text-align: center;
  padding-top: 60px;
  font-size: 35px;
}
h2 {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
}
p {
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}
a {
  color: #39213F;
  text-decoration: none;
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
a:hover{
  color: #8C778A;
}
#images {
  margin: 0;
  text-align: center;
}
#images img {
  max-width: 100%;
  margin: 25px 0;
}
hr.new1 {
  border-top: 1px solid #A53838;
  margin-top: -20px;
  margin-bottom: 30px;
}
.body {
  background-color: white;
  width: 1100px;
  height: 920px;
  position: relative;
  margin: -50px auto 75px auto;
}
.in ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
.in li {
  line-height: 20px;
  height: 30px;
}
@media screen and (min-width: 600px) {
  .in li {
    width: 300px;
    border-bottom: none;
  }
  .in li {
    display: inline-block;
}
